//impostazione completa flex
@mixin flex($direction: row, $justify-content: space-between, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}


//centratura con flex in base a $direction == ("both" --> centratura orzzontale e verticale) ("horizontal" --> centratura orizzontale) ("vertical" --> centratura verticale)
@mixin flex-center($direction: "both") {
    display: flex;
    @if $direction == "horizontal" or $direction == "both" {
        justify-content: center;
    }
    @if $direction == "vertical" or $direction == "both" {
        align-items: center;
    }
}